My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0191fa5-d586-4cc2-9bc6-ec63b4a597d5",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "cc7997ee-28af-4b81-ad7b-56a30292137e",
      "name": "Webhook",
      "webhookId": "b0191fa5-d586-4cc2-9bc6-ec63b4a597d5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aggarwalkkartik-5896-resource.cognitiveservices.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2025-01-01-preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "6gD46p14JytVoF9F6uQuFt0CRLhROs18ee05Q6pmCKKQzAhsEuUHJQQJ99BFACHYHv6XJ3w3AAAAACOGWITB"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "model",
              "value": "gpt-4o"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messages",
              "value": "={{ [\n  { \"role\": \"system\", \"content\": \"You are an AI that summarizes meeting transcripts and extracts personalized to-do lists for each participant. Format all outputs as bullet points.\" },\n  { \"role\": \"user\", \"content\": String($json.text) }\n] }}"
            },
            {
              "name": "temperature",
              "value": "={{0.3}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ],
      "id": "2136114e-3cfd-47cd-9ae4-fb97780fa133",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.choices[0].message.content }}",
        "options": {
          "systemMessage": "Smart Assistant Responsibilities\nReceive a list of meeting notes or to-dos.\nExtract clear, individual tasks for each person.\nFor each task:\n✅ Schedule a separate meeting in Google Calendar.\n📌 Return a clean, bullet-point summary of:\nKey tasks\nAssigned responsibilities\n(No extra commentary)\n📤 Push the summary into:\nA Notion document or\nA Google Doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        952,
        200
      ],
      "id": "e517cf10-b5c5-4d27-81bf-19174ca4ae97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        420
      ],
      "id": "57ad779b-21f0-465e-8a1a-1ad7dbd4c80f",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "I1z4zYNqeeRx9VSn",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        980,
        420
      ],
      "id": "bf34657a-29f6-4643-8659-7c9a915be76e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aggarwalkkartik@gmail.com",
          "mode": "list",
          "cachedResultName": "aggarwalkkartik@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1100,
        420
      ],
      "id": "332bba5b-ce6f-46ad-98d5-d7c4db2aea5f",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FlJ8kOzEms9q7g32",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f5523004-312a-4670-923a-ca990b67c188",
        "options": {
          "binaryPropertyName": "audioBase64"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        200
      ],
      "id": "7dc5d5e8-0fc6-4e45-b944-348c97f13b4e",
      "name": "Webhook1",
      "webhookId": "f5523004-312a-4670-923a-ca990b67c188"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        420,
        100
      ],
      "id": "9d9dab70-0726-4b53-adeb-dde2c7c169ba",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "oRMvPupQLmLuPdRW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1P5dNytVuJUB-XGWuJHOOS9W4cK--01Tj",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1P5dNytVuJUB-XGWuJHOOS9W4cK--01Tj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        0
      ],
      "id": "76e2606c-dd19-4595-9cc5-6340263f1dde",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hC54FKgAumX4678M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "={{ $json.originalFilename }}"
        }
      },
      "id": "0d8c2a75-f0a9-4ebc-ba76-b337a1002e56",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        200,
        0
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hC54FKgAumX4678M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=u are a very good sentiment analyser your role is to analyse the input and access it and give your analysis  {{ $json.output }} and also push the analysis into the google doc"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1420,
        200
      ],
      "id": "1a78735c-fb4b-4349-8e74-99bdfa2378f3",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "oj7go9dI4urZClWo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1WyJApqTia59VUyTNuJZ9waGQeVuPevUcsx7vla5eyS0/edit?usp=share_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1220,
        420
      ],
      "id": "d2f81a09-7428-4f9c-a4a5-eb87eb071ee1",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kjNDbtfhiECZKpbQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1Z37dLri_LzoKkgPuanj7NIIxtmFWXdzZp35hYi8VIC4/edit?usp=share_link",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1508,
        420
      ],
      "id": "57373a1d-1925-4f6b-a9a0-1f5caab26a51",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "kjNDbtfhiECZKpbQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n    // CORRECTED: Access audioBase64 and audioMimeType from item.json.body\n    const audioBase64 = item.json.body.audioBase64;\n    const audioMimeType = item.json.body.audioMimeType;\n\n    if (!audioBase64 || !audioMimeType) {\n        console.error(\"Missing audioBase64 or audioMimeType in webhook payload for item:\", item.json);\n        // If data is missing, return the original item without binary data\n        return item;\n    }\n\n    const audioBuffer = Buffer.from(audioBase64, 'base64');\n\n    // Create the n8n binary object structure correctly\n    return {\n        json: item.json, // Keep the original JSON data if needed later\n        binary: {\n            data: { // This 'data' key matches the 'Input Data Field Name' in your OpenAI node\n                data: audioBuffer,\n                mimeType: audioMimeType,\n                fileName: 'meeting_audio.' + audioMimeType.split('/')[1] // Example: meeting_audio.mp3\n            }\n        }\n    };\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ],
      "id": "bf8077e7-cc49-476a-a73b-b9cb9bcf1794",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n    const transcribedText = item.json.body.transcribedText; // Access from nested body\n\n    // Create a new JSON object with the desired 'text' key\n    return {\n        json: {\n            text: transcribedText // Put the text directly under 'text'\n        }\n    };\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ],
      "id": "564250f5-2002-49a2-a5ff-a3148157de17",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "ai_tool": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15574555-f733-4e72-80b7-2f0e11549bae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "950ce451a4eb758732f0536172ff751f694a146ee3570184ec8a39df1f5c4d40"
  },
  "id": "nAANIFZfplfZysFL",
  "tags": []
}